body{
    font-family: 'Times New Roman', Times, serif;
    font: size 60px;
    font-weight: 100vh;
}
h1{
    font-weight:bolder;
    font-style: italic;
    text-align: center;
   color: transparent;
   font-size: 144px;
}