.box{
    height: 100px;
    width: 100px;
    background-color: blue;
    transform: translateX(500px) rotate(360deg);
    /* animation-name: bouncing;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all 5s ease-in-out;*/
}
img{
    height: 100px;
    width: 100px;
    animation-name: shack;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: all 5s ease-in-out;
    
}