div{
    height: 100px;
    width: 100px;
}
.onee{
    background-color: rgb(198, 198, 180);
    float: left;
}
.twoe{
    background-color: rgb(169, 96, 237);
    float: right;
}
.threee{
    background-color: rgb(237, 122, 34);
    display: inline-block;
    padding: 5px;
}
div1{
    height: 20px;
    width: 20px;
}
.img{
    float: left;
    clear: both;
    padding-top:50px ;
    margin-top: 100px;
    margin-bottom: 100px;
}